body{
    display: flex;
    justify-content: center;
}
.stackContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 600px;
    width: 500px;
    border: 2px solid black;
    box-shadow:  3px 3px 5px 4px rgb(61, 46, 46);
}

.block {
    height: 60px;
    width: 100px;
    border: 2px solid red;
}